@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.title::before {
  content: url('icons/logo.svg');
  display: inline-block;
  width: 1.5em;
  vertical-align: middle;
  margin-right: 0.3em;
}

.container > * {
  border: 1px solid red;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.container > nav {
  grid-row: 1 / -1;
}
