@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*
Acronyms:
-  c = Color
- bg = Background color
- tc = Text color
- lr = Left/Right
- tb = Top/Bottom
*/
:root {
  --c-50: #faf5ff;
  --c-100: #f3e8ff;
  --c-200: #e9d5ff;
  --c-300: #d8b4fe;
  --c-400: #c084fc;
  --c-500: #a855f7;
  --c-600: #9333ea;
  --c-700: #7e22ce;
  --c-800: #6b21a8;
  --c-900: #581c87;

  --bg-main: rgb(36, 37, 39);
  --bg-sec: rgb(58, 60, 63);

  --tc-main: white;
  --tc-sec: var(--c-50);
  --tc-dark: var(--bg-main);

  --section-pad-lr: 2rem;
  --section-pad-tb: 1rem;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--tc-main);
}

li {
  appearance: none;
  list-style: none;
}

a {
  appearance: none;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0;
  outline: none;
}

button.icon {
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 0.2em;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  fill: var(--tc-main);
}

button.icon:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

button.main {
  background-color: var(--c-800);
  min-width: 5rem;
  padding: 0.5rem;
  border-radius: 1em;
}

button.main:hover {
  -webkit-box-shadow: 3px 4px 7px -4px rgba(0, 0, 0, 0.33);
  box-shadow: 3px 4px 7px -4px rgba(0, 0, 0, 0.33);
}

button.main:active {
  -webkit-box-shadow: inset 3px 4px 7px -4px rgba(0, 0, 0, 0.33);
  box-shadow: inset 3px 4px 7px -4px rgba(0, 0, 0, 0.33);
}

input {
  appearance: none;
  outline: none;
  border: none;
}

input:hover {
  outline: 1px solid var(--c-200);
}

input:focus {
  outline: 2px solid var(--c-600);
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 5rem auto 1fr;
}

li.has-svg {
  display: flex;
  align-items: center;
  gap: 1em;
}
li.has-svg > svg {
  height: 1.5em;
  fill: var(--tc-main);
}

/*
============================
------ Sidebar/Navbar ------
============================
*/
nav.sidebar {
  grid-row: 2 / -1;

  background-color: var(--c-800);

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: calc(var(--section-pad-tb)) 0;
}

.title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--c-800);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 var(--section-pad-lr);
}

.title > svg {
  display: inline-block;
  width: 1.5em;
  fill: var(--tc-main);
}

nav.sidebar li {
  padding: 0.4rem var(--section-pad-lr);
}

nav.sidebar li:hover {
  background-color: var(--c-900);
}

/*
============================
---------- Header ----------
============================
*/
header {
  background-color: var(--bg-sec);
  grid-column: 2 / -1;
  grid-row: 1 / 3;
  padding: calc(var(--section-pad-tb)) var(--section-pad-lr);
}

header > div {
  display: flex;
  width: 100%;
  gap: 3rem;
}

header .top {
  grid-row: 1 / 2;
}

header .bottom {
  grid-row: 2 / 3;
  margin-top: 1.4rem;
  margin-bottom: calc(1.4rem - var(--section-pad-tb));
  height: 4rem;
  justify-content: space-between;
}

header .search {
  flex: 3;
  align-self: center;
}

.search form {
  display: flex;
  height: 2rem;
  gap: 1em;
  align-items: center;
}

.search input[type='search'] {
  flex: 1;
  border-radius: 1em;
  color: var(--tc-dark);
  padding: 0.5rem;
  margin-right: 1rem;
}

#user {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;
  gap: 1.5rem;
}

#user .icon {
  height: 2.5em;
}

#user p {
  width: fit-content;
  font-weight: bold;
}

.profile-pic {
  height: 3em;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

#user-msg {
  display: flex;
  gap: 1em;
}

#user-msg .profile-pic {
  height: 100%;
}

#user-msg div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3.5rem;
  align-self: center;
}

#user-msg p:last-child {
  font-size: 1.5rem;
}

#user-actions {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/*
============================
----------. Main .----------
============================
*/
.main {
  background-color: var(--bg-main);
  padding: var(--section-pad-lr);
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 1rem;
}

.main main {
  grid-row: 1 / -1;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 12rem;
  gap: 1rem;
}

.cards .card {
  background-color: var(--bg-sec);
  border-radius: 0.5rem;
  padding: 1rem;
  border-left: 0.5rem solid var(--c-400);
}

.cards .card-title {
  font-weight: 500;
}

.card .description {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.card .actions {
  height: 2rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}
