@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --c-50: #faf5ff;
  --c-100: #f3e8ff;
  --c-200: #e9d5ff;
  --c-300: #d8b4fe;
  --c-400: #c084fc;
  --c-500: #a855f7;
  --c-600: #9333ea;
  --c-700: #7e22ce;
  --c-800: #6b21a8;
  --c-900: #581c87;

  --bg-main: rgb(36, 37, 39);
  --bg-sec: rgb(58, 60, 63);

  --tc-main: white;
  --tc-sec: var(--c-50);
}

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--tc-main);
}

li {
  appearance: none;
  list-style: none;
}

a {
  appearance: none;
  text-decoration: none;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.container > * {
  padding: 1rem;
}

/*
============================
------ Sidebar/Navbar ------
============================
*/
nav.sidebar {
  grid-row: 1 / -1;

  background-color: var(--c-800);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.title > svg {
  display: inline-block;
  width: 1.5em;
  fill: var(--tc-main);
}

/*
============================
---------- Header ----------
============================
*/
header {
  background-color: var(--bg-sec);
}

/*
============================
----------. Main .----------
============================
*/
main {
  background-color: var(--bg-main);
}
